body{
	margin: 0px;
}

/* CCS PARA LA BARRA SUPERIOR---------------------------------------------------*/

.barrasuperior{
	background-color: #232323;
	
	padding: 8px 0px 8px 1250px;
	display: block;


}


.barrasuperior a{
	text-decoration: none;
	color: white;	
	font-size: 12px;
	font-family: 'Roboto', sans-serif;



}

.barrasuperior a:hover{
	color: cadetblue;
}

/* CSS PARA BARRA DE NAVEGACIÓN------------------------------------------------*/

header{
	background-color: black;
	width: 100%
	

}
header nav{
	text-align: center;
	height: 50px;
	padding: 30px 0px 0px 0;
	
}
header nav a{
	text-decoration: none;
	color: white;
	text-align: center;
	margin-left: 50px;
	font-family: 'Nunito', sans-serif;


	
}

.Titulo{
	margin: 0px 600px 0px 10px;
	font-size: 20px;
	color: white;

}



header nav a:hover{
	color: cadetblue;
}

/* CSS PRIMER PARALLAX---------------------------------*/

.fondo{
	background: url(../imagenes/unodos.jpg) no-repeat fixed;
	background-size: 100%, 100% auto;
	width: 100%;
	height:500px;
}


/* CSS PARA PRIMERA SECCIÓN*/

.contenedor-retratarh{
	padding: 20px 0;
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	display: flex;


}

.titulo{
	text-align: center;
	font-size: 40px;
	color: #66CCCC;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.imagentres{
	height: 100%;
	width: 500px;
}

.subtitulo{
	font-size: 25px;
	color: cadetblue;
}

.contenido-textouno{
	font-size: 20px;
	padding: 0px 0px 0px 30px;
	text-align: justify;
    


}


/* CSS PARA EL SEGUNDO PARALLAX*/

.fondo2{
	background: url(../imagenes/imagencuatro.jpg) no-repeat fixed;
	background-size: 100%, 100% auto;
	width: 100%;
	height:300px;
	margin-bottom: 60px;
}


/* CSS CONTENEDOR 2-----------------------------------------*/

.contenedor-dos{
	padding: 20px 0;
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	display: flex;

}

/*CSS IMAGENES CONTENEDOR DOS--------------------------------*/

.imagencinco{
	height: 80%;
	width: 30%;
	margin-left: 40px;

}

.imagenseis{
	height: 80%;
	width: 30%;
	margin-left: 30px;
}

.imagensiete{
	height: 80%;
	width: 30%;
	margin-left: 30px;
}
/*CSS PARA CAJAS DE TEXTO CONTENEDOR DOS------------------*/
.textodos{
	padding: 20px 0;
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	display: flex;
}
.subtitulo-dos{
	text-align: center;
	color: cadetblue;
}
.caja1{
	width: 358px;
	margin-left: 40px;
	text-align:justify;
	font-size: 20px;
}

.caja2{
	
	width: 358px;
	margin-left: 30px;
	text-align:justify;
	font-size: 20px;
}

.caja3{
	width: 358px;
	margin-left: 40px;
	text-align:justify;
	font-size: 20px;
}
/* CSS PARA FOOTER---------------------------------------------------------------------*/

.footer-ti{
	text-decoration: none;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 28px;
}

.footer-ti:hover{
	color: cadetblue;
}


.textof{
	color: white;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	text-align: justify;

}

div{
	display: inline-block;
}
footer{
	width: auto;
	height: 350px;
	background-color: #252525;
	display: flex;
	margin: 0px 0px 0px 0px;
	


}



.about{
	
	height: 250px;
	width: 500px;
	margin:50px 0px 0px 400px;

}

.footer-ti2{
	text-decoration: none;
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 28px;
	margin-top: 0px; 

}

ul{
	padding-left: 0px;
}

li{
	padding: 0px 0px 10px 0px;
	list-style: none;
}

.enlaces:hover{
	color: cadetblue;
}

.enlaces{
	color: white;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 18px;

}

.links{
	margin:50px 0px 0px 0px;
	
	
	height: 250px;
	width: 500px;
    margin: auto;
}


.icono{
	color: white;
	margin-left: 60px;
	
}

.icono:hover{
	color: cadetblue;
	}